main {
    width : 52rem;
    height : 42rem;
    background-color: var(--White);
    border-radius: 1rem;
    border-bottom-right-radius: 12rem;
    display: flex;
    flex-direction: column;
    padding : 5rem;
    padding-bottom: 0rem;

    @media screen and (max-width : 800px) and (orientation: portrait) {
        width : 95vw;
        height: auto;
        padding : 2rem;
    }

    @media screen and (max-width : 450px) and (orientation: portrait) {
        padding : 1.5rem;
    }
}