:root {
	--Purple: #854dff;
	--Light-red: #ff5757;
	--White: #fff;
	--Off-white: #f0f0f0;
	--Light-grey: #dbdbdb;
	--Smokey-grey: #716f6f;
	--Off-black: #141414;
}

*,*::before,*::after {
	margin : 0;
	padding : 0;
	box-sizing: border-box;
	overflow: hidden;
}

body {
	width : 100vw;
	height : 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--Light-grey);
}

